name: Test Out Openstack Install
on:
  workflow_dispatch:
jobs:
  install:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: pip

      - uses: actions/checkout@v5

      - run: pip install -r requirements.txt

      - run: openstack --version
