name: Test Out Checkout empty ref
on:
  workflow_dispatch:
jobs:
  install:
    runs-on: ubuntu-latest
    steps:
      - id: checkout
        uses: actions/checkout@v5
        with:
          ref: ''

      - run: echo ${{ steps.checkout.outputs.ref }} ${{ steps.checkout.outputs.commit }}
