name: Call Test Defaults
on:
  workflow_dispatch:
jobs:
  no-arg:
    uses: ./.github/workflows/test.yml

  empty-arg:
    uses: ./.github/workflows/test.yml
    with:
      my-input: ''

  filled-arg:
    uses: ./.github/workflows/test.yml
    with:
      my-input: 'a filled arg'