name: Test Expressions
on:
  workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: access-nri/build-cd/.github/actions/get-spack-manifest@spack-v1-migration-reserved-defs
