name: Test Expressions
on:
  pull_request:
  workflow_dispatch:
jobs:
  no-inputs:
    uses: codegat-test-org/test/.github/workflows/call.yml@main

  repo-input:
    uses: codegat-test-org/test/.github/workflows/call.yml@main
    with:
      spack-manifest-repository: codegat-test-org/test
d