name: Test Default Values
on:
  workflow_dispatch:
jobs:
  test-checking-refs:
    runs-on: ubuntu-latest
    steps:
      - id: existing-tag
        uses: access-nri/actions/.github/actions/get-git-ref-info@add-get-git-ref-info-action
        with:
          repository: codegat-test-org/test
          ref: v1.0.0

      - id: existing-branch
        uses: access-nri/actions/.github/actions/get-git-ref-info@add-get-git-ref-info-action
        with:
          repository: codegat-test-org/test
          ref: main

      - id: existing-short-commit
        uses: access-nri/actions/.github/actions/get-git-ref-info@add-get-git-ref-info-action
        with:
          repository: codegat-test-org/test
          ref: 55b01ae

      - id: existing-full-commit
        uses: access-nri/actions/.github/actions/get-git-ref-info@add-get-git-ref-info-action
        with:
          repository: codegat-test-org/test
          ref: 55b01aed1549e9075c9eb8366c383040604a9311

      - continue-on-error: true
        id: non-existing-ref
        uses: access-nri/actions/.github/actions/get-git-ref-info@add-get-git-ref-info-action
        with:
          repository: codegat-test-org/test
          ref: non-existing-ref