name: Test Matrix Complex Excludes
on:
  workflow_dispatch:
jobs:
  pre-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
    - id: set-matrix
      run: |
        echo "matrix=[{"template": "A","filepath": "path/to/A"},{"template": "B","filepath": "path/to/B" },{"template": "C","filepath": "path/to/C" },{"template": "D","filepath": "path/to/D"}]" >> $GITHUB_OUTPUT

  matrix:
    needs: pre-matrix
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package: ${{ fromJson(needs.pre-matrix.outputs.matrix) }}
    steps:
      - run: echo "template - ${{ matrix.package.template }}, fpath - ${{ matrix.package.filepath }}"
