name: Test Expression
on:
  workflow_dispatch:
    inputs:
      my-input:
        required: false
        type: string
        description: testing out stuff
jobs:
  pre-matrix:
    runs-on: ubuntu-latest
    steps:
    - run: echo "${{ inputs.my-input || 'default value' }}"
