name: Test Expression
on:
  workflow_call:
    inputs:
      my-input:
        required: false
        type: string
        default: 'wow a default'
        description: testing out stuff
jobs:
  output:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Input - ${{ inputs.my-input }}"